.main {
    background-color: #EEEEEE;
    border-radius: 5px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 322px;
}

.main:hover {
    transform: scale(1.06);
    transition-duration: 200ms;
    box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px rgb(189, 157, 189), /* middle magenta */
    0 0 140px 90px rgb(228, 250, 250); /* outer cyan */
}


.main > img {
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: center;
}

.types {
    display: flex;
    column-gap: 5px;
    font-size: large;
    align-self: center;
}

h1 {
    font-size: large;
}