 .form{
     display:flex;
     flex-direction: column;
     width: 30vw;
  align-self: center;
  
 }

 .div{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     width: 150px;  
     margin-left: 100px; 
 }

 .main{
     display: flex;
     flex-direction: column;
     background: rgb(242,216,237);
     background: radial-gradient(circle, rgba(242,216,237,1) 0%, rgba(189,193,185,1) 100%);
height: 100vh;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .types{
     display: flex;
     margin-left: 100px;
 }

 .types > select  {
     width: 85px;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .form > button{
     width: 170px;
     margin-left: 100px;
 }

 